---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-zinc-200">
		<Header title={SITE_TITLE} />
		<main class="container mx-auto">
			<header class="text-center mt-10 mb-12">
				<h1 class="text-3xl font-bold leading-tight">
					Hello ! Moi c'est <span class="text-orange-500">Jean</span>
				</h1>
				<p class="text-xl font-light leading-normal mt-2">
					Bienvenue sur mon site web !
				</p>
			</header>
			<section class="mb-10">
				<h2 class="text-2xl font-bold leading-tight mb-4">
					Qui suis-je ?
				</h2>
				<div class="container mx-auto">
					<div class="bg-white rounded-lg shadow-lg p-6">
						<p
							class="text-base text-justify font-light leading-normal"
						>
							Passionné d'informatique et de technologies en tout
							genre, j'étudie la sécurité informatique au sein de
							l'Université d'd'Aix-Marseille. En parallèle je me
							renseigne et développe mes compétences dans divers
							domaines au travers de lectures ou projets
							personnels.
						</p>
					</div>
				</div>
			</section>
			<section class="mb-10">
				<h2 class="text-2xl font-bold leading-tight mb-4">
					Ma formation
				</h2>
				<div class="grid grid-cols-3 gap-4">
					<div class="bg-white rounded-lg shadow-lg p-6">
						<h3 class="text-xl font-bold leading-tight mb-2">
							Master informatique (FSI)
						</h3>
						<a
							class="text-orange-500 hover:text-orange-700 italic leading-tight mb-2"
							href="https://www.univ-amu.fr/"
							target="_blank"
            				rel="noopener noreferrer"
						>
							Université d'Aix-Marseille
						</a>
						<p
							class="text-base text-justify font-light leading-normal mt-2"
						>
							
						</p>
					</div>
					<div class="bg-white rounded-lg shadow-lg p-6">
						<h3 class="text-xl font-bold leading-tight mb-2">
							Licence informatique
						</h3>
						<a
							class="text-orange-500 hover:text-orange-700 italic leading-tight mb-2"
							href="https://www.univ-lyon1.fr/"
							target="_blank"
            				rel="noopener noreferrer"
						>
							Université Claude Bernard Lyon 1
						</a>
						<p
							class="text-base text-justify font-light leading-normal mt-2"
						>
							C'est ici que j'ai démarré mon cursus en informatique et obtenu ma licence en juin 2022 !
						</p>
					</div>
				</div>
			</section>
			<section class="mb-10">
				<h2 class="text-2xl font-bold leading-tight mb-4">
					Voici quelques-uns de mes projets !
				</h2>
				<div class="grid grid-cols-3 gap-4">
					<div class="bg-white rounded-lg shadow-lg p-6">
						<h3 class="text-xl font-bold leading-tight mb-2">
							École Saint-Louis Notre Dame
						</h3>
						<a
							class="text-orange-500 hover:text-orange-700 italic leading-tight mb-2"
							href="http://www.ecolesaintlouisnotredame.fr"
							target="_blank"
            				rel="noopener noreferrer"
						>
							www.ecolesaintlouisnotredame.fr
						</a>
						<p
							class="text-base text-justify font-light leading-normal mt-2"
						>
							Pour mon stage de fin de licence, j'ai développé le
							site internet de l'École Saint-Louis Notre Dame de
							Saint-Chamond.
						</p>
						<p
							class="text-base text-justify font-light leading-normal mt-2"
						>
							Cela fût un projet très enrichissant car mené en
							autonomie sur des technologies que je ne connaissait
							pas et que j'ai dû apprendre.
						</p>
					</div>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
