---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BasicScripts from "../scripts/BasicScripts.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
const Studies = "/images/studies.jpg";
const CCNA = "/images/ccna.png";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-zinc-200 dark:bg-zinc-900">
    <Header title={SITE_TITLE} />
    <BasicScripts />
    <main class="bg-zinc-200 dark:bg-zinc-900 min-h-screen">
      <header>
        <div
          class="text-center mb-10 bg-fixed shadow-lg"
          style="background-image: url(/images/cover.jpg); background-size: contain"
        >
          <div class="pt-36 pb-36 backdrop-blur-sm">
            <h1 class="text-3xl text-white font-bold leading-tight">
              Hello ! My name is <span class="text-blue-500">Jean</span>
            </h1>
            <p class="text-xl text-white font-light leading-normal mt-2">
              Welcome on my personal blog
            </p>
          </div>
        </div>
      </header>
      <section class="container mb-10 mx-auto px-3">
        <h2 class="text-2xl font-bold leading-tight mb-4 dark:text-white">
          About me
        </h2>
        <div class="container mx-auto">
          <div
            class="bg-white rounded-lg shadow-lg p-5 dark:bg-zinc-800 dark:text-white"
          >
            <p class="text-lg text-justify font-normal leading-normal mb-3">
              Passionate about computer sciences and cybersecurity, I enjoy
              spending my free time learning by myself and doing some CTF. I am
              very interested in networks security, systems and digital
              investigation but I am open to discover.
            </p>
            <p class="text-lg text-justify font-normal leading-normal mb-3">
              I am currently looking for a graduation internship starting in
              April 2024 for 6 months.
            </p>
          </div>
        </div>
      </section>
      <section class="container mb-10 mx-auto px-3">
        <h2 class="text-2xl font-bold leading-tight mb-4 dark:text-white">
          Education
        </h2>
        <div
          class="bg-white rounded-lg shadow-lg p-5 dark:bg-zinc-800 dark:text-white"
        >
          <div>
            <div class="grid grid-cols-2">
              <h3 class="text-xl font-bold leading-tight mb-2">
                Master's degree in IT reliability and security
              </h3>
              <h3
                class="text-lg font-light leading-tight text-right text-zinc-700 dark:text-zinc-300"
              >
                Since Sept. 2022
              </h3>
            </div>
            <a
              class="text-lg text-blue-500 hover:text-blue-700 italic leading-tight"
              href="https://www.univ-amu.fr/"
              target="_blank"
            >
              Aix-Marseille University, Marseille, France
            </a>
            <ul
              class="list-inside list-disc text-lg font-normal leading-normal mt-3 mb-4"
            >
              <li>SecNumEdu certified course (by ANSSI).</li>
              <li>Learned how to manage a project from beginning to delivery.</li>
              <li>Studied cryptography and network basis.</li>
              <li>Completed a network project that was about creating an IPv6 tunnel on an IPv4 network.</li>
            </ul>
          </div>
          <hr class="border-t border-zinc-300 mb-4 dark:border-zinc-700" />
          <div>
            <div class="grid grid-cols-2">
              <h3 class="text-xl font-bold leading-tight mb-2">
                Bachelor in computer sciences
              </h3>
              <h3
                class="text-lg font-light leading-tight text-right text-zinc-700 dark:text-zinc-300"
              >
                From Sept. 2019 to June 2022
              </h3>
            </div>
            <a
              class="text-lg text-blue-500 hover:text-blue-700 italic leading-tight"
              href="https://www.univ-lyon1.fr/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Claude Bernard University, Lyon, France
            </a>
            <p
              class="text-lg text-justify font-normal leading-normal mt-3 mb-4"
            >
              Where I started my studies and confirmed my passion for computer
              science.
            </p>
          </div>
          <hr class="border-t border-zinc-300 mb-4 dark:border-zinc-700" />
          <div class="grid grid-cols-5">
            <div class="col-span-4">
              <h3 class="text-xl font-bold leading-tight mb-2">
                Cisco's introduction to networks certification
              </h3>
              <a
                class="text-lg text-blue-500 hover:text-blue-700 italic leading-tight"
                href="https://www.netacad.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                Cisco Networking Academy
              </a>
              <p class="text-lg text-justify font-normal leading-normal mt-3">
                Basics of networking.
              </p>
            </div>
            <div>
              <h3
                class="text-lg font-light leading-tight text-right text-zinc-700 mb-4 dark:text-zinc-300"
              >
                Dec. 2021
              </h3>
              <img class="my-auto ml-auto mr-0" src={CCNA} width="35%" />
            </div>
          </div>
        </div>
      </section>
      <section class="container mx-auto px-3">
        <h2 class="text-2xl font-bold leading-tight mb-4 dark:text-white">
          Projects and experiences
        </h2>
        <div class="grid grid-cols-3 gap-4">
          <div
            class="col-span-3 bg-white rounded-lg shadow-lg p-5 dark:bg-zinc-800 dark:text-white"
          >
            <h3 class="text-xl font-bold leading-tight">
              Saint-Louis Notre Dame school's website
            </h3>
            <a
              class="text-lg text-blue-500 hover:text-blue-700 italic leading-tight"
              href="https://www.ecolesaintlouisnotredame.fr"
              target="_blank"
              rel="noopener noreferrer"
            >
              www.ecolesaintlouisnotredame.fr
            </a>
            <p class="text-lg text-justify font-normal leading-normal my-3">
              For my bachelor internship, I developed a school's website
            </p>
            <p class="text-lg text-justify font-normal leading-normal">
              It was an interesting project because I was not familiar with web
              technologies and I had to learn a lot by myself.
            </p>
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
