---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-zinc-200">
		<Header title={SITE_TITLE} />
		<main class="container mx-auto">
			<header class="text-center mt-10 mb-12">
				<h1 class="text-3xl font-bold leading-tight">
					Hello ! Moi c'est Jean
				</h1>
				<p class="text-xl font-light leading-normal mt-2">
					Je suis étudiant en sécurité informatique à l'université
					d'Aix-Marseille
				</p>
			</header>
			<section class="mb-20">
				<h2 class="text-2xl font-bold leading-tight mb-4">
					Voici quelques-uns de mes projets !
				</h2>
				<div class="grid grid-cols-3 gap-4">
					<div class="bg-white rounded-lg shadow-lg p-6">
						<h3 class="text-xl font-bold leading-tight mb-2">
							École Saint-Louis Notre Dame
						</h3>
						<h4 class="text-orange-500 italic leading-tight mb-2">
							Développement web
						</h4>
						<p class="text-base font-light leading-normal mt-2">
							Développement du site web de l'école.
						</p>
					</div>
					<div class="bg-white rounded-lg shadow-lg p-6">
						<h3 class="text-xl font-bold leading-tight mb-2">
							École Saint-Louis Notre Dame
						</h3>
						<h4 class="text-orange-500 italic leading-tight mb-2">
							Développement web
						</h4>
						<p class="text-base font-light leading-normal mt-2">
							Développement du site web de l'école.
						</p>
					</div>
					<div class="bg-white rounded-lg shadow-lg p-6">
						<h3 class="text-xl font-bold leading-tight mb-2">
							École Saint-Louis Notre Dame
						</h3>
						<h4 class="text-orange-500 italic leading-tight mb-2">
							Développement web
						</h4>
						<p class="text-base font-light leading-normal mt-2">
							Développement du site web de l'école.
						</p>
					</div>
				</div>
			</section>
			<section class="mb-20">
				<h2 class="text-2xl font-bold leading-tight mb-4">
					Mes diplômes et certifications
				</h2>
			</section>
		</main>
		<Footer />
	</body>
</html>
