---
import { Icon } from "astro-icon";
---

<a
	type="button"
	class="dark:text-white hover:text-blue-500 dark:hover:text-blue-500 text-sm p-2.5 inline-flex items-center hover:cursor-pointer"
	aria-label="Toggle between Dark and Light mode"
	data-aw-toggle-color-scheme
>
	<Icon name="tabler:sun" class="w-6 h-6" />
</a>
