---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import BasicScripts from "../scripts/BasicScripts.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate: Date;
    updatedDate: Date;
  };
}

const {
  content: { title, description, pubDate, updatedDate },
} = Astro.props;
---

<html lang="en">
  <header>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </header>
  <body class="bg-zinc-200 dark:bg-zinc-900">
    <Header />
    <BasicScripts />
    <main class="bg-zinc-200 dark:bg-zinc-900 min-h-screen">
      <div class="container pt-10 mx-auto px-3">
        <div
          class="bg-white rounded-xl shadow-lg mx-auto p-5 max-w-4xl dark:bg-zinc-800"
        >
          <div class="font-light text-right dark:text-zinc-300">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          {
            updatedDate ? (
              <article class="prose prose-blue min-w-fit -mt-12 dark:prose-invert">
                <slot />
              </article>
            ) : (
              <article class="prose prose-blue max-w-fit -mt-8 dark:prose-invert">
                <slot />
              </article>
            )
          }
        </div>
      </div>
    </main>
    <Footer />
  </body>

</html>
