---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import BasicScripts from "../scripts/BasicScripts.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate },
} = Astro.props;
---

<html lang="en">
	<header>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</header>
	<body>
		<Header />
		<BasicScripts />
		<main class="bg-zinc-200 min-h-screen dark:bg-zinc-900">
			<div class="container pt-10 mx-auto px-3">
				<div class="bg-white rounded-xl shadow-lg mx-auto p-5 max-w-4xl dark:bg-zinc-800">
					<div class="font-light text-right dark:text-zinc-300">
						{pubDate && <time>{pubDate}</time>}
						{
							updatedDate && (
								<div>
									Modifié le <time>{updatedDate}</time>
								</div>
							)
						}
					</div>
					{updatedDate ? 
						<article class="prose prose-orange min-w-fit mx-auto -mt-12 dark:prose-invert">
							<slot />
						</article> : 
						<article class="prose prose-orange max-w-fit mx-auto -mt-8 dark:prose-invert">
							<slot />
						</article>
					}
					
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>